RewriteEngine on
ErrorDocument 403 /alfasport/error/page_403.php
ErrorDocument 404 /alfasport/error/page_404.php
ErrorDocument 500 /alfasport/error/page_500.php

RewriteRule ^login\.html$ auth/login.php [L]
RewriteRule ^daftar\.html$ auth/register.php [L]
RewriteRule ^daftar-member\.html$ auth/daftar_member.php [L]
RewriteRule ^aksiDaftar\.html$ auth/aksi_daftar_member.php [L]
RewriteRule ^aksiLogin\.html$ auth/authentication.php [L]
RewriteRule ^keluar\.html$ auth/logout.php [L]

RewriteRule ^home\.html$ index.php [L]
RewriteRule ^data_toko\.html$ index.php?page=inc/toko/toko_nama/view_toko [L]
RewriteRule ^data_karyawan\.html$ index.php?page=inc/karyawan/view_karyawan [L]
RewriteRule ^data_umur_barang\.html$ index.php?page=inc/umur_barang/view_umur_barang [L]
RewriteRule ^data_vendor\.html$ index.php?page=inc/distributor/view_distributor [L]
RewriteRule ^data_member\.html$ index.php?page=inc/member/view_member [L]
RewriteRule ^data_supplier\.html$ index.php?page=inc/supplier/view_supplier [L]
RewriteRule ^data_satuan\.html$ index.php?page=inc/satuan/view_satuan [L]
RewriteRule ^data_kategori\.html$ index.php?page=inc/kategori/view_kategori [L]
RewriteRule ^data_divisi\.html$ index.php?page=inc/divisi/view_divisi [L]
RewriteRule ^data_subdivisi\.html$ index.php?page=inc/subdivisi/view_subdivisi [L]
RewriteRule ^data_gender\.html$ index.php?page=inc/gender/view_gender [L]
RewriteRule ^data_merk\.html$ index.php?page=inc/merk/view_merk [L]
RewriteRule ^data_ukuran\.html$ index.php?page=inc/ukuran/view_ukuran [L]
RewriteRule ^data_toko_online\.html$ index.php?page=inc/data_toko_online/view_data_toko_online [L]
RewriteRule ^data_profesi\.html$ index.php?page=inc/data_profesi/view_profesi [L]

RewriteRule ^ukuran\.html$ index.php?page=inc/ukuran2/view_ukuran [L]
RewriteRule ^ukuran_kaos_kaki\.html$ index.php?page=inc/ukuran_kaos_kaki/view_ukuran_kaos_kaki [L]
RewriteRule ^ukuran_barang\.html$ index.php?page=inc/ukuran_barang/view_ukuran_barang [L]

RewriteRule ^data_detail_ukuran\.html$ index.php?page=inc/detail_ukuran/view_detail_ukuran [L]
RewriteRule ^transfer\.html$ index.php?page=inc/transfer_barang/view_transfer [L]
RewriteRule ^point_member\.html$ index.php?page=inc/point/view_point [L]
RewriteRule ^data_jabatan\.html$ index.php?page=inc/jabatan/view_jabatan [L]
RewriteRule ^data_distributor\.html$ index.php?page=inc/distributor/view_distributor [L]

RewriteRule ^stok_barang_gudang\.html$ index.php?page=inc/gudang/stok_barang [L]
RewriteRule ^entry_gudang\.html$ index.php?page=inc/gudang/input_stok_gudang [L]
RewriteRule ^update-gudang-([0-9]+)\.html$ index.php?page=inc/gudang/aksi_edit_gudang&id=$1 [L]


#======================================
# data_semua_ukuran
RewriteRule ^data_ukuran_sepatu\.html$ index.php?page=inc/data_ukuran_sepatu/view_ukuran_sepatu [L]
RewriteRule ^data_ukuran_kaos_kaki\.html$ index.php?page=inc/data_ukuran_kaos_kaki/view_ukuran_kaos_kaki [L]
RewriteRule ^data_ukuran_barang_lainnya\.html$ index.php?page=inc/data_ukuran_barang_lainnya/view_ukuran_barang_lainnya [L]

#======================================
#barang_gudang
RewriteRule ^barang_gudang\.html$ index.php?page=inc/barang_gudang/view_barang_gudang [L]
RewriteRule ^entry_barang_gudang\.html$ index.php?page=inc/barang_gudang/input_barang_gudang [L]
RewriteRule ^simpan_barang_gudang\.html$ index.php?page=inc/barang_gudang/aksi_simpan_barang_gudang [L]
RewriteRule ^entry-stok-barang-gudang-([a-zA-Z0-9\-]{0,20})-([0-9]+)-([0-9]+)\.html$ index.php?page=inc/barang_gudang/input_stok_barang_gudang&kode=$1&merek=$2&subdivisi=$3 [L]

#======================================
#barang_toko
RewriteRule ^barang_toko\.html$ index.php?page=inc/toko/barang_toko/view_barang_toko [L]

#======================================
#searching sepatu, kaos kaki dan barang lainnya
RewriteRule ^search_sepatu\.html$ index.php?page=inc/searching/cari_sepatu/view_cari_sepatu [L]
RewriteRule ^search_kaos_kaki\.html$ index.php?page=inc/searching/cari_kaos_kaki/view_cari_kaos_kaki [L]
RewriteRule ^search_barang_lainnya\.html$ index.php?page=inc/searching/cari_barang_lainnya/view_cari_barang_lainnya [L]

#======================================
#restock barang gudang
RewriteRule ^restock_sepatu\.html$ index.php?page=inc/restock/restock_sepatu/view_restock_sepatu [L]
RewriteRule ^edit_multiple_restock_sepatu\.html$ index.php?page=inc/restock/restock_sepatu/edit_multiple_restock [L]

RewriteRule ^restock_kaos_kaki\.html$ index.php?page=inc/restock/restock_kaos_kaki/view_restock_kaos_kaki [L]
RewriteRule ^edit_multiple_restock_kaos_kaki\.html$ index.php?page=inc/restock/restock_kaos_kaki/edit_multiple_restock [L]

RewriteRule ^restock_barang_lainnya\.html$ index.php?page=inc/restock/restock_barang_lainnya/view_restock_barang_lainnya [L]
RewriteRule ^edit_multiple_restock_barang_lainnya\.html$ index.php?page=inc/restock/restock_barang_lainnya/edit_multiple_restock [L]

#======================================
#pembelian barang

RewriteRule ^pembelian_barang\.html$ index.php?page=inc/pembelian_barang/view_pembelian [L]
RewriteRule ^input_pembelian_barang\.html$ index.php?page=inc/pembelian_barang/input_pembelian [L]
RewriteRule ^cari_pembelian_sepatu\.html$ index.php?page=inc/pembelian_barang/cari_pembelian_sepatu [L]
RewriteRule ^cari_pembelian_kaos_kaki\.html$ index.php?page=inc/pembelian_barang/cari_pembelian_kaos_kaki [L]
RewriteRule ^cari_pembelian_barang_lainnya\.html$ index.php?page=inc/pembelian_barang/cari_pembelian_barang_lainnya [L]

#======================================
#return_barang
RewriteRule ^return_barang\.html$ index.php?page=inc/return_barang/index [L]
RewriteRule ^buat_return_barang\.html$ index.php?page=inc/return_barang/buatReturn [L]












#gudang_kaos_kaki
RewriteRule ^stok_barang_gudang_kaos_kaki\.html$ index.php?page=inc/gudang_kaos_kaki/stok_barang_kaos_kaki [L]
RewriteRule ^entry_gudang_kaos_kaki\.html$ index.php?page=inc/gudang_kaos_kaki/input_stok_gudang_kaos_kaki [L]
RewriteRule ^simpan_gudang_kaos_kaki\.html$ index.php?page=inc/gudang_kaos_kaki/aksi_simpan_gudang_kaos_kaki [L]
RewriteRule ^input-stok-kaos-kaki-([a-zA-Z0-9\-]{0,20})-([a-zA-Z0-9\-]{0,20})-([0-9]+)-([0-9]+)\.html$ index.php?page=inc/gudang_kaos_kaki/input_stok_kaos_kaki&id=$1&artikel=$2&merek=$3&kategori=$4 [L]

#gudang_lainnya
RewriteRule ^stok_barang_gudang_lainnya\.html$ index.php?page=inc/gudang_lainnya/stok_barang_lainnya [L]
RewriteRule ^entry_gudang_lainnya\.html$ index.php?page=inc/gudang_lainnya/input_stok_gudang_lainnya [L]
RewriteRule ^simpan_gudang_lainnya\.html$ index.php?page=inc/gudang_lainnya/aksi_simpan_gudang_lainnya [L]
RewriteRule ^input-stok-lainnya-([a-zA-Z0-9\-]{0,20})-([a-zA-Z0-9\-]{0,20})-([0-9]+)-([0-9]+)\.html$ index.php?page=inc/gudang_lainnya/input_stok_lainnya&id=$1&artikel=$2&merek=$3&kategori=$4 [L]


#toko_kaos_kaki
RewriteRule ^stok_barang_toko_kaos_kaki\.html$ index.php?page=inc/toko/toko_gudang_kaos_kaki/stok_barang_kaos_kaki [L]

#toko_lainnya
RewriteRule ^stok_barang_toko_lainnya\.html$ index.php?page=inc/toko/toko_gudang_lainnya/stok_barang_lainnya [L]

#cari_kaos_kaki
RewriteRule ^cari_kaos_kaki\.html$ index.php?page=inc/cari_kaos_kaki/view_cari_kaos_kaki [L]

#cari_barang_lainnya
RewriteRule ^cari_barang_lainnya\.html$ index.php?page=inc/cari_lainnya/view_cari_lainnya [L]


RewriteRule ^penjualan\.html$ index.php?page=inc/transaksi/view_transaksi [L]
RewriteRule ^entry_penjualan\.html$ index.php?page=inc/transaksi/input_transaksi [L]
RewriteRule ^cari_penjualan\.html$ index.php?page=inc/transaksi/cari_penjualan [L]

RewriteRule ^penjualan_online\.html$ index.php?page=inc/transaksi_online/view_transaksi_online [L]
RewriteRule ^entry_penjualan_online\.html$ index.php?page=inc/transaksi_online/input_transaksi_online [L]
RewriteRule ^cari_penjualan_online\.html$ index.php?page=inc/transaksi_online/cari_penjualan_online [L]

RewriteRule ^pembelian\.html$ index.php?page=inc/pembelian/view_pembelian [L]
RewriteRule ^entry_pembelian\.html$ index.php?page=inc/pembelian/input_pembelian [L]

RewriteRule ^simpanDiskonUmur\.html$ index.php?page=inc/diskon_umur/set_umur [L]
RewriteRule ^simpanDiskonD\.html$ index.php?page=inc/diskon/item/simpan_diskon [L]
RewriteRule ^cari_pembelian\.html$ index.php?page=inc/pembelian/cari_pembelian [L]

RewriteRule ^stok_barang_toko\.html$ index.php?page=inc/toko/toko_gudang/stok_barang [L]
RewriteRule ^penyesuaian_stok\.html$ index.php?page=inc/penyesuaian/penyesuaian_stok [L]
RewriteRule ^simpan_gudang\.html$ index.php?page=inc/gudang/aksi_simpan_gudang [L]
RewriteRule ^input_stok-([a-zA-Z0-9\-]{0,20})-([a-zA-Z0-9\-]{0,20})-([0-9]+)-([0-9]+)\.html$ index.php?page=inc/gudang/input_stok&id=$1&artikel=$2&merek=$3&kategori=$4 [L]

RewriteRule ^terima_transfer\.html$ index.php?page=inc/terima/view_transfer [L]

RewriteRule ^credit\.html$ index.php?page=inc/diskon/credit/index [L]
RewriteRule ^voucher\.html$ index.php?page=inc/diskon/voucher/index [L]
RewriteRule ^ongkir\.html$ index.php?page=inc/diskon/ongkir/index [L]
RewriteRule ^item\.html$ index.php?page=inc/diskon/item/index [L]
RewriteRule ^item_diskon\.html$ index.php?page=inc/diskon/item/buat_diskon [L]
RewriteRule ^item_diskon_set\.html$ index.php?page=inc/diskon/item/set_diskon [L]
RewriteRule ^simpans\.html$ index.php?page=inc/diskon/item/simpan_tabel [L]
RewriteRule ^detail-data-diskon-([0-9]+)\.html$ index.php?page=inc/diskon/credit/detail_data_diskon&id_metode=$1 [L]
RewriteRule ^editMultipleDiskon\.html$ index.php?page=inc/diskon/credit/edit_multiple_diskon [L]

RewriteRule ^permohonan\.html$ index.php?page=inc/permohonan/index [L]
RewriteRule ^cari_barang\.html$ index.php?page=inc/cari/view_cari [L]
RewriteRule ^diskon_umur\.html$ index.php?page=inc/diskon_umur/index [L]

RewriteRule ^return\.html$ index.php?page=inc/return/index [L]
RewriteRule ^buatreturn\.html$ index.php?page=inc/return/buatReturn [L]

RewriteRule ^orderPembelian\.html$ index.php?page=inc/order/index [L]
RewriteRule ^orderDetail-([0-9]+)\.html$ index.php?page=inc/order/detailOrders&id_order=$1 [L]

# restock_barang_gudang_sepatu
RewriteRule ^restock_barang_gudang_sepatu\.html$ index.php?page=inc/restock_gudang/view_restock [L]
RewriteRule ^editMultipleRestock\.html$ index.php?page=inc/restock_gudang/edit_multiple_restock [L]


# restock_barang_kaos_kaki
RewriteRule ^restock_barang_gudang_kaos_kaki\.html$ index.php?page=inc/restock_gudang_kaos_kaki/view_restock [L]
RewriteRule ^editMultipleRestockKaosKaki\.html$ index.php?page=inc/restock_gudang_kaos_kaki/edit_multiple_restock [L]

# restock_barang_lainnya
RewriteRule ^restock_barang_gudang_lainnya\.html$ index.php?page=inc/restock_gudang_lainnya/view_restock [L]
RewriteRule ^editMultipleRestockLainnya\.html$ index.php?page=inc/restock_gudang_lainnya/edit_multiple_restock [L]

RewriteRule ^detail-voucher-([0-9]+)\.html$ index.php?page=inc/diskon/voucher/detail_voucher&id_voucher=$1 [L]

RewriteRule ^detail-voucher-([0-9]+)\.html$ index.php?page=inc/diskon/voucher/detail_voucher&id_voucher=$1 [L]
RewriteRule ^detail-ongkir-([0-9]+)\.html$ index.php?page=inc/diskon/ongkir/detail_voucher&id_voucher=$1 [L]

