RewriteEngine on
ErrorDocument 403 /alfasport/error/page_403.php
ErrorDocument 404 /alfasport/error/page_404.php
ErrorDocument 500 /alfasport/error/page_500.php

RewriteRule ^login\.html$ auth/login.php [L]
RewriteRule ^daftar\.html$ auth/register.php [L]
RewriteRule ^daftar-member\.html$ auth/daftar_member.php [L]
RewriteRule ^aksiDaftar\.html$ auth/aksi_daftar_member.php [L]
RewriteRule ^aksiLogin\.html$ auth/authentication.php [L]
RewriteRule ^keluar\.html$ auth/logout.php [L]

RewriteRule ^home\.html$ index.php [L]
RewriteRule ^data_toko\.html$ index.php?page=inc/toko/toko_nama/view_toko [L]
RewriteRule ^data_karyawan\.html$ index.php?page=inc/karyawan/view_karyawan [L]
RewriteRule ^data_umur_barang\.html$ index.php?page=inc/umur_barang/view_umur_barang [L]
RewriteRule ^data_distributor\.html$ index.php?page=inc/distributor/view_distributor [L]
RewriteRule ^data_member\.html$ index.php?page=inc/member/view_member [L]
RewriteRule ^data_supplier\.html$ index.php?page=inc/supplier/view_supplier [L]
RewriteRule ^data_satuan\.html$ index.php?page=inc/satuan/view_satuan [L]
RewriteRule ^data_kategori\.html$ index.php?page=inc/kategori/view_kategori [L]
RewriteRule ^data_divisi\.html$ index.php?page=inc/divisi/view_divisi [L]
RewriteRule ^data_subdivisi\.html$ index.php?page=inc/subdivisi/view_subdivisi [L]
RewriteRule ^data_gender\.html$ index.php?page=inc/gender/view_gender [L]
RewriteRule ^data_merk\.html$ index.php?page=inc/merk/view_merk [L]
RewriteRule ^data_ukuran\.html$ index.php?page=inc/ukuran/view_ukuran [L]
RewriteRule ^ukuran\.html$ index.php?page=inc/ukuran2/view_ukuran [L]
RewriteRule ^data_detail_ukuran\.html$ index.php?page=inc/detail_ukuran/view_detail_ukuran [L]
RewriteRule ^transfer\.html$ index.php?page=inc/transfer_barang/view_transfer [L]
RewriteRule ^point_member\.html$ index.php?page=inc/point/view_point [L]
RewriteRule ^data_jabatan\.html$ index.php?page=inc/jabatan/view_jabatan [L]
RewriteRule ^data_distributor\.html$ index.php?page=inc/distributor/view_distributor [L]

RewriteRule ^stok_barang_gudang\.html$ index.php?page=inc/gudang/stok_barang [L]
RewriteRule ^entry_gudang\.html$ index.php?page=inc/gudang/input_stok_gudang [L]
RewriteRule ^update-gudang-([0-9]+)\.html$ index.php?page=inc/gudang/aksi_edit_gudang&id=$1 [L]

RewriteRule ^penjualan\.html$ index.php?page=inc/transaksi/view_transaksi [L]
RewriteRule ^entry_penjualan\.html$ index.php?page=inc/transaksi/input_transaksi [L]

RewriteRule ^pembelian\.html$ index.php?page=inc/pembelian/view_pembelian [L]
RewriteRule ^entry_pembelian\.html$ index.php?page=inc/pembelian/input_pembelian [L]


RewriteRule ^stok_barang_toko\.html$ index.php?page=inc/toko/toko_gudang/stok_barang [L]
RewriteRule ^penyesuaian_stok\.html$ index.php?page=inc/penyesuaian/penyesuaian_stok [L]
RewriteRule ^simpan_gudang\.html$ index.php?page=inc/gudang/aksi_simpan_gudang [L]
RewriteRule ^input_stok-(.*)-([0-9]+)-([0-9]+)\.html$ index.php?page=inc/gudang/input_stok&id=$1&merek=$2&kategori=$3 [L]


RewriteRule ^terima_transfer\.html$ index.php?page=inc/terima/view_transfer [L]

RewriteRule ^credit\.html$ index.php?page=inc/diskon/credit/index [L]
RewriteRule ^voucher\.html$ index.php?page=inc/diskon/voucher/index [L]
RewriteRule ^item\.html$ index.php?page=inc/diskon/item/index [L]
RewriteRule ^item_diskon\.html$ index.php?page=inc/diskon/item/buat_diskon [L]
RewriteRule ^item_diskon_set\.html$ index.php?page=inc/diskon/item/set_diskon [L]
RewriteRule ^detail-data-diskon-([0-9]+)\.html$ index.php?page=inc/diskon/credit/detail_data_diskon&id_metode=$1 [L]
RewriteRule ^editMultipleDiskon\.html$ index.php?page=inc/diskon/credit/edit_multiple_diskon [L]


RewriteRule ^permohonan\.html$ index.php?page=inc/permohonan/index [L]
RewriteRule ^cari_barang\.html$ index.php?page=inc/cari/view_cari [L]